*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(90deg, rgba(107,7,186,1) 32%, rgba(9,211,207,1) 65%);
}
.my-table {
    color: #555;
    font-size: 2rem;
    font-weight: 5 00;
  }
  .bought{
    text-decoration: line-through;
  }
  .button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(228, 17, 17);
    border: none;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    gap: 2px;
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: .6s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .button:hover {
    transition-duration: 0.3s;
    background-color: rgb(194, 4, 4);
    align-items: center;
    gap: 0;
  }
  
  .bin-top {
    transform-origin: bottom right;
  }
  .button:hover .bin-top {
    transition-duration: 0.5s;
    transform: rotate(160deg);
  }
  .CartBtn {
    width: 140px;
    height: 48px;
    border-radius: 12px;
    border: none;
    background-color: rgb(26, 205, 74);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
  }
  
  .IconContainer {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
  }
  
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    transition-duration: .5s;
    font-weight: 600;
    margin-top: .87rem;
  }
  .CartBtn:hover{
    transition-duration: .5s;
    background-color: rgb(2, 152, 2);
  }
  .inputs-wrapper{
    display: inline-flex;
    flex-direction: column;
    padding: 20px;
  }
  .inputs{
    width: 340px;
  }
  .list-wrapper{
    display: flex;
    padding: 25px;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    margin-top: 10%;
    border-radius: 25px;
    box-shadow: 0px 0px 34px 22px rgba(0,0,0,0.1);
  }
  .filtered-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }